<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="/assets/css/pure-min.css">

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}/sitemap.xml">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

  </head>

  <body id="0">

<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">TEST</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Menu1</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Menu2</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Menu3</a></li>
    </ul>
</div>

    {{ content }}


  </body>

</html>
